body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #f5dfbb 3px solid;

  background: #e15554 !important;
}

#home-section {
  background-image: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}
#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(54, 21, 21, 0.7);
}

#home-section .home-inner {
  padding-top: 150px !important;
}

#home-section .card-form {
  opacity: 0.8;
}
