body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #f5dfbb 3px solid;
}

#home-section {
  background-image: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}
#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(54, 21, 21, 0.7);
}

#home-section .home-inner {
  padding-top: 150px !important;
}

#home-section .card-form {
  opacity: 0.8;
}

#curved {
  border-radius: 8px;
}

#curved-2 {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
#explore-section .fas,
#share-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #e15554;
}
